{% extends "base.html" %}
{% block title %}Most Popular{% endblock %}
{% block content %}
    <h1>Most Popular</h1>
    <div class="container">
        <div class="row">
            {% for popular in popular_videos %}
                <div class="col-sm-4 pt-sm-4">
                    <div class="card h-100">
                        <a href="{{ popular.video.get_absolute_url }}">
                            <img src="https://img.youtube.com/vi/{{ popular.video.video }}/maxresdefault.jpg"
                                 class="card-img-top" alt="...">
                        </a>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ popular.video.title }}</h5>
                            <p class="card-text">{{ popular.video.description|truncatewords:30 }}</p>
                            <a href="{{ popular.video.get_absolute_url }}" class="mt-auto btn btn-primary">Watch
                                Video</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
